body {
  background-color:rgb(157, 234, 244);
  font-family: "Georgia", Times, serif;
  
    /* Hier eine Hintergrundfarbe hinzufügen. */
} 

.card {
    /* Hier eine Hintergrundfarbe hinzufügen. */
background-color: #eff3e7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(172, 218, 234, 0.1);
    margin-top: 20px;
    padding: 20px;
    font: fantasy;

    
}

.image {

    background-image: url(https://images7.alphacoders.com/105/1051642.jpg); /* Ergänze hier den Pfad, um ein Bild anzuzeigen. */

    background-size: cover; 
    background-position: center;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
}

.colored-btn {
    background-color: rgba(154, 201, 244, 0.728);
    margin: 5%;
}

.rainbow-btn {
    background: linear-gradient(45deg, #daf78c, #86f4d1, #fb9ee1);
}

.pink-btn {
    background: linear-gradient(45deg, #f9cafc, #f86cea);
}

.green-btn {
    background: linear-gradient(45deg, #a8f9a0, #86f4d1);
}